#guestUser{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#jalaLogout{
    
}


  .checkbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }


table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  td:nth-child(4) {
    width: 25%;
  }
  