*{
    margin:0;
    padding:0
}

#header{
    /* height: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem 1rem 1rem 1rem; */
    background-color: aliceblue;
    padding: 1.75rem;
}

#header-logout{
    text-decoration: none;
}