<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
    <link href="/style/home.css" rel="stylesheet">
</head>
<body>
    <%- include('../views/partials/header', {username:username, loggedIn: loggedIn}); %>

    <h1>this is home page. -- Products here => </h1>
    <!-- <a href="/logout"><button>LogOut1</button></a> -->
    <!-- <button onclick="location.href='/logout'">LogOut2</button> -->
    <ul>
        // products
    </ul>
</body>
</html>