<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
    <link href="/style/home.css" rel="stylesheet">
</head>
<body>
    <%- include('../views/partials/header', {username:username, loggedIn: loggedIn}); %>

    <h1>this is home page. -- Products here => </h1>
    <!-- <a href="/logout"><button>LogOut1</button></a> -->
    <!-- <button onclick="location.href='/logout'">LogOut2</button> -->
    <div id="products-container"> 
        <ul id="ulList">
            <!-- <li>// products</li> -->
            <!-- <br> -->
            <% let x = 5; %>
            <% if( products.length < 5) x= products.length %>
            <% for(let i = 0; i < x; i++){ %> 
                <li> 
                    <div>
                        <img src="<%= products[i].fileName %>">
                        <p> <%= products[i].productName %> </p>
                        <button onclick="togglePopup()">View details</button>
                    </div>
                    
                    <div class="popup" id="popup-1">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup()">&times;</div>
                            <h1>Description</h1>    
                            <p> Product Details here!!! </p>
                        </div>
                    </div>
                    
                </li>
                <!-- <br> -->

            <% } %> 
        </ul>
    </div>

    <!-- <%- include('../views/partials/loadProducts', {username:username, loggedIn: loggedIn}); %> -->

    <button id = "loadMoreBtn">Load more</button>

    <form method="POST" action = "/" enctype="multipart/form-data">
        <input type="file" name="productImage" id="productImg" accept="image/png, image/jpeg" required>
        <input type="submit" value="Upload Product Image">
    </form>

    <script src = "/script/loadMoreScript.js"></script>
</body>
</html>